<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        <add key="StorageAccountName" value="someimage"/>
        <add key="StorageAccountKey" value="BwyO1fMCqSv44ixt8jHj2Zk2E+dCjY5A6Tore8YGjQ9/xMv9viMIRxzo9NRM7MSoYhZ7USjy/tyqgmC8WzDS8Q=="/>
    </appSettings>
</configuration>
