@page
@model LockoutModel
@{
    ViewData["Title"] = T["Locked out"];
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@T["This account has been locked out, please try again later."]</p>
</header>
