@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = T["Reset password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @T["Your password has been reset. Please <a asp-page=\"./Login\">click here to log in</a>."]
</p>
