@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf) format('ttf'),
    url(../fonts/roboto_slab.woff2) format('woff2'),
    url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmYGRjRdE.woff2) format('woff2');
}

@font-face {
    font-family: 'Copse';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/copse.woff2) format('woff2');
}