@{
    ViewData["Title"] = "Home Page";
}

<div class="md:flex md:flex-wrap md:-mx-4 mt-6 md:mt-12">

    <a asp-controller="Poll" asp-action="Create" class="md:w-1/3 md:px-4 xl:px-6 mt-8 md:mt-0 text-center">
        <span class="mx-auto w-20 border-t-2 border-solid border-indigo-200 block mb-3"></span>
        <h5 class="text-xl font-medium uppercase mb-4">Create a new poll</h5>
        @* <p class="text-gray-600">FWR blocks bring in an air of fresh design with their creative layouts and blocks, which are easily customizable</p> *@
    </a>

    <a asp-controller="Poll" asp-action="Index" class="md:w-1/3 md:px-4 xl:px-6 mt-8 md:mt-0 text-center">
        <span class="mx-auto w-20 border-t-2 border-solid border-indigo-200 block mb-3"></span>
        <h5 class="text-xl font-medium uppercase mb-4">Browse polls</h5>
        @* <p class="text-gray-600">FWR blocks are the cleanest pieces of HTML blocks, which are built with utmost care to quality and usability.</p> *@
    </a>

    <a asp-controller="Poll" asp-action="Index" class="md:w-1/3 md:px-4 xl:px-6 mt-8 md:mt-0 text-center">
        <span class="mx-auto w-20 border-t-2 border-solid border-indigo-200 block mb-3"></span>
        <h5 class="text-xl font-medium uppercase mb-4">Check out the poll results</h5>
        @* <p class="text-gray-600">FWR blocks is a perfect tool for designers, developers and agencies looking to create stunning websites in no time.</p> *@
    </a>
</div>