@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 class="text-4xl mb-4">Piracy Policy</h1>
<h2 class="text-2xl mb-4">What is software piracy?</h2>

<p class="mb-4">
    We own the majority of our software and are licensed to use certain software modules owned by other companies.
    All this software is protected by intellectual property rights legislation, the software itself is protected by
    copyright, and the product name and our company name are either registered or unregistered trade marks.
</p>

<p class="mb-4">
    Software piracy involves making, buying or using software in a way that infringes intellectual property rights
    legislation and/or in a way that breaches the terms of our Software and Services Agreement and/or in a way
    that breaches our copyright.
</p>

<p class="mb-4">
    Software piracy takes various forms, ranging from producing counterfeit software to sharing software with a
    colleague beyond the scope of the licences purchased.
</p>

<p class="mb-4">
    We are committed to protecting the quality and integrity of our software. Software piracy impacts not just
    on us but also on the legitimate business of our partners and associates and also puts our customers at risk
    of legal action.
</p>

<p class="mb-4">
    If you obtain Snap software from any source other than us, or install more copies than you have been licensed
    to use by us, then you run the risk that you and/or your business may be sued or prosecuted for infringement of
    copyright. Prosecution may result in an unlimited fine and/or up to 10 years imprisonment.
</p>

<h2 class="text-2xl mb-4">What we’ll do</h2>

<p class="mb-4">
    Piracy of our software will not be tolerated, and we will not hesitate to take swift legal action and/or to report
    misuse to any interested party or to the relevant enforcement authorities. We will consider all complaints made and
    take appropriate action if necessary through our solicitors.
</p>


<p class="mb-4">
    We can’t guarantee an immediate response as investigating allegations can be a time consuming process,
    but we do value your help and will take each report very seriously.
</p>